/*h1 font-size:8vw;
p font-size:2vw;
*/
.App {
    text-align: center;
    height: 20vh;
    
  }
#pane1 {background-color: yellow;width:100%}
#pane2 {background-color: green;width:100%}
#pane3 {background-color: purple;width:100%}
.carousel{
  width:100%;
  font-size: 1vh;
  height:13vh;
}
.fontSize {font-size: 1vh;}