.TeacherHeight {height:  48vh;
  margin-top: 120px;
border:auto}

ul.listType {list-style-type:none;
  margin: auto;
  padding-left: 0px;
             }

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin:auto;

  }
